body {
  font-family: Arial;
  direction: rtl;
  background: #f5f5f5;
  padding: 20px;
}

.dashboard {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.progress-bar {
  display: flex;
  gap: 4px;
}

.day {
  width: 20px;
  height: 60px;
  background: #ddd;
  border-radius: 4px;
}
